@import "tailwindcss";

body{
  font-family: "roboto", sans-serif;
}

.font_titulo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background{
  background-color: #ECEFF1 ;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center;
  width: 80%;
  min-height: 100vh; /* Garante que o container ocupe toda a altura da viewport */
  margin: 0 auto; /* Centraliza o container na página */

  & h2{
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0;
  }
}

.grafico_container {
  max-height: 500px;
  padding: 10px; /* Aumenta o padding para melhor espaçamento */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color: white;
  width: 100%; /* Ocupa toda a largura do container */
  box-sizing: border-box; /* Garante que o padding não altere a largura */
}

.table-container {
  background-color: white;
  max-height: 400px; /* Altura máxima da tabela antes de ativar a rolagem */
  overflow-y: auto; /* Adiciona a barra de rolagem interna */
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  box-shadow: 10px 15px 15px rgba(0,0,0,0.5);

}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background: #ddd; /* Fixa o cabeçalho para rolar apenas os dados */
  z-index: 10;
}

.table th, .table td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.table tbody tr:hover {
  background: #80CAA7; /* Efeito ao passar o mouse */
}

.filtro_container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center;
  width: 80%;
  margin: 20px auto; /* Centraliza o container na página */
  min-height: 100%; /* Garante que o container ocupe toda a altura da viewport */

  & h2 {
      color: #2c3e50;
      font-size: 2em;
      font-weight: bold;
  }
}

.filtro {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  & label {
      font-size: 1.1em;
      font-weight: 500;
      display: flex; /* Adiciona flexbox */
      align-items: center; /* Alinha verticalmente */
      gap: 5px; /* Reduz o gap */
      transition: color 0.2s ease;

      &:hover {
          color: #6fa894;
      }
  }
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .filtro {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Ajuste para telas menores */
      gap: 5px; /* Reduz o gap em telas menores */
  }
}

  & input[type="checkbox"]{
    margin-right: 10px;
    accent-color: #80CAA7;        /* Cor personalizada para o checkbox */
    transform: scale(1.1);         /* Leve aumento no tamanho do checkbox */
    transition: transform 0.2s ease;

    &:hover{
      transform: scale(1.3);
    }
  }








